@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
  background-color: rgb(245, 216, 216)
}
.quotes_div{
  background-color:white;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 2px rgba(0, 0, 0, 0.19);
 
}
.quotes_div p{
  display: inline;
  text-shadow: 2px 2px 6px black
}
.quotes_div i{
  text-shadow: 1px 1px 3px black;
}
.button_div button{
  border: none;
  border-radius: 25px;
  text-transform: capitalize;
background-color: darkcyan;
}
.button_div img{
  width: 40px;
  height: 40px;
  border: 1px;
}
.button_div img:hover{
  background-color: black;
}
.button_div button:hover{
  background-color: black;
  color: white;
}
.content_div{
  font-family: 'Ephesis', cursive;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 3px;
  word-spacing: 3px;
  line-height: 45px;

}
.heading_div h1{
  text-transform: capitalize;
  font-weight: bolder;
  text-shadow: 2px 2px 6px black;
}
.auther{
  display: flex;
  justify-content: end;
}
.auther h3{
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
  font-size: larger;
}
.search_div{
  display: flex;
  justify-content: end;

}
.search_div input{
  border: none;
  border-radius: 25px;
}
.search_icon{
  width: 20px;
  height: 20px;
}
.search_btn{
  background-color: black;
  color: white;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
 
}